.about-main-div {
    display: flex;
    justify-content: center;
    height: 200vh;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.about-sub-div {


    color: var(--title-color);
    width: 100%;
    margin-top: 7rem;

}

.about-fieldset {
    display: flex;
    align-items: center;

    flex-direction: column;
    background-color: 181818;
    text-align: center;
    border: 2px solid 181818;
    height: 100%;
    width: 100%;
    margin: auto;
}

.about-legend {
    font-size: 2.3rem;
    font-weight: 600;
    float: none;
    height: 3.5rem;
    width: 16rem;
    color: var(--title-color);
    background-color: var(--font-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    
}

.about_p_div {
    width: 60%;
    
    color: var(--font-color);
}

.about-p{
    font-weight: 600;
    font-size: 2rem;
}

.about_video_div {
    /* width: 40rem;
    height: 30rem; */

}
.about-video{
    width: 40rem;
    height: 20rem;
}

.about_details{
    /* width:100%; */
    padding-top: 3rem;
}

.about_f{
    width: 100%;
    display: flex;
    justify-content: center;

    color: white;

}
.about_founder{
    /* width: 15rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.f_text{
    margin-left: 5rem;
    /* width: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: justify;
}

.about_founder h4{
    font-weight: 900;
    font-size: 1.7rem;
}
.founder_image{
    border: 0.3rem  solid white;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about_founder p{
    margin-top: 15px;
    font-size: 0.8rem;
    font-weight: 500;
}

.f_text p{
    font-size: 0.9rem;
    font-weight: 300;
}



/* cofounder */


.about_co_f{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    color: white;

}
.about_co_founder{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.co_f_text{
    margin-left: 5rem;
    /* width: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
  
    text-align: justify;
}

.about_co_founder h4{
    font-weight: 900;
    font-size: 1.7rem;
}
.founder_image{
    border: 0.3rem  solid white;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about_co_founder p{
    margin-top: 15px;
    font-size: 0.8rem;
    font-weight: 500;
}

.co_f_text p{
    font-size: 0.9rem;
    font-weight: 300;
}


















@media (min-width: 330px) and (max-width: 460px) {
    .about-main-div {
        height: 260vh;
    }

    .about-sub-div {
        margin-top: 3rem;
    }

    .about-legend {
        font-size: 1.8rem;
    width: 12rem;
    height:3rem;
    }
    .about_p_div {
        width: 80%;
        color: var(--font-color);
    }
    .about-p{
        font-weight: 600;
        font-size: 1.5rem;
    }

    .about-video{
        width: 20rem;
        height: 15rem;
    }
    .about_f{
    flex-direction: column;
    align-items: center;   
    }
    .f_text{
        margin-left: 0rem;
        text-align: justify;
        
    }
    .about_co_f{
        flex-direction: column;
        align-items: center;
    }
    .co_f_text{
        /* width: 90%; */
        margin-left: 0rem;
        text-align: justify;
    }
    .about_co_founder{
        margin-left: 0rem;
    }

}





@media (min-width: 460px) and (max-width: 550px) {
    .about-main-div {
        height: 230vh;
    }

    .about-sub-div {
        margin-top: 3rem;
    }

    .about-legend {
        font-size: 1.8rem;
    width: 12rem;
    height:3rem;
    }
    .about_p_div {
        width: 80%;
        color: var(--font-color);
    }
    .about-p{
        font-weight: 600;
        font-size: 1.5rem;
    }

    .about-video{
        width: 20rem;
        height: 15rem;
    }
    .about_f{
    flex-direction: column;
    align-items: center;   
    }
    .f_text{
        margin-left: 0rem;
        text-align: justify;
        
    }
    .about_co_f{
        flex-direction: column;
        align-items: center;
    }
    .co_f_text{
        /* width: 90%; */
        margin-left: 0rem;
        text-align: justify;
    }
    .about_co_founder{
        margin-left: 0rem;
    }

}

@media (min-width: 550px) and (max-width: 750px) {
    .about-main-div {
       
        height: 240vh;
      
    }

    .about_p_div {
        width: 80%;
       
        color: var(--font-color);
    }

    .about-p{
        font-weight: 600;
        font-size: 2rem;
    }
    .about-video{
        width: 20rem;
        height: 10rem;
    }
    .about_f{
        flex-direction: column;
        align-items: center;
        }
        .f_text{
            margin-left: 0rem;
            text-align: justify;   
        }

        .about_co_f{
            flex-direction: column;
            align-items: center;
        }
        .co_f_text{
            /* width: 90%; */
            margin-left: 0rem;
            text-align: justify;
        }
        .about_co_founder{
            margin-left: 0rem;
        }

}

/* @media (min-width: 750px) and (max-width: 950px) {
    .about-main-div {
       
        height: 180vh;
      
    }
    .about_p_div {
        width: 70%;
       
        color: var(--font-color);
    }
    .about-p{
        font-weight: 600;
        font-size: 2rem;
    }
    .about-video{
        width: 25rem;
        height: 15rem;
    }
} */