.about-main-div {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
}

.about-sub-div {


    color: var(--title-color);
    width: 100%;

}

.about-fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: 181818;
    text-align: center;
    border: 2px solid 181818;
    height: 100%;
    width: 100%;
    margin: auto;
}

.about-legend {
    font-size: 1.8rem;
    float: none;
    height: 3rem;
    width: 20%;
    color: var(--title-color);
    background-color: var(--font-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.about_p_div {
    width: 70%;
}

.about-p {
    font-size: 2rem;
    color: var(--font-color);
}

.about_video_div {
    width: 70%;

}







@media (min-width: 350px) and (max-width: 550px) {
    .about-sub-div {
        margin-top: 3rem;
    }

    .about-legend {
        font-size: 0.8rem;
        width: 30%;
    }

    .about-video {
        max-width: 70%;
    }


}

@media (min-width: 550px) and (max-width: 750px) {
    .about-sub-div {
        margin-top: 3rem;
    }

    .about-legend {
        font-size: 0.8rem;
        width: 30%;
    }

}

@media (min-width: 750px) and (max-width: 950px) {}