

.form-main-div {
    display: flex; 

    background-color: black;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


/* .custom-select {
    background: linear-gradient(0deg, #BF9B30, #FFE392, #BF9B30);
    height: 5rem;
    text-align: center;
    font-weight: 900;
    
}

.custom-select option {
    
 
    color: black; 
}
.custom-select option:first-child {
  
}

.custom-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 101, 149, 0.25);
} */