
.home-body{
  background-color: black;
}
.home-main-div {
    display: flex; 
    flex-wrap: wrap; 
    height: 100vh;
  }

  .home-merge{
    display: flex;
    margin-top:10%;

  }

  .home-sub-div{
    margin-top: 5%;

    flex-direction: column;
    color: var(--font-color);
    margin-left: 5%;
    width: 60%;
    text-align: left;
  }
  .home-sub-div h1{
    font-size: 5rem;
  }

  .home-image-div {
    width: 400px;
    height: 600px;

    background-image: url(../images/lamp.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* img {
    display: block;
    width: 100%;
    height: auto;
    
  } */



  







  

  @media (min-width: 350px) and (max-width: 550px) {
    .home-main-div {
      height: 40vh;
      
    }
    .home-sub-div{
      margin-left: 5%;
    
    }
    .home-sub-div h1{
      font-size: 1.3rem;
    }
    .home-sub-div p{
      font-size: 0.7rem;
    }
    .home-btn{
      font-size: 0.9rem;
    }
    .home-image-div {
      width: 350px;
    }

  }

  @media (min-width: 550px) and (max-width: 750px) {
    .home-main-div {
      height: 50vh;
    }
    .home-sub-div{

      margin-left: 10%;
      width: 50%;
    }
  
.home-sub-div h1{
  font-size: 1.3rem;
}
.home-sub-div p{
  font-size: 0.7rem;
}
.home-btn{
  font-size: 0.9rem;
}
.home-image-div {
  width: 450px;
}
}

  @media (min-width: 750px) and (max-width: 950px) {

  }
    
  
  