.process-main-div {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: 181818;
    width: 100%;
    font-family: "Inter", sans-serif;


}

.process_design_div {
    width: 100%;
    height: 5rem;
    background-color: black;
    position: absolute;
}

.process-sub-div {

    position: relative;
    color: var(--title-color);
    width: 100%;

}

.process-fieldset {
    display: flex;
    align-items: center;

    flex-direction: column;
    background-color: 181818;
    text-align: center;

    height: 100%;
    width: 100%;
    margin: auto;
}

.process-legend {
    width:15rem;
    font-size: 2rem;
    font-weight: 600;
    float: none;
    height: 3rem;
    
    color: var(--title-color);
    background-color: var(--font-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.process-p-div {
    width: 70%;
}

.process-p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--font-color);
}

.process-multi-div {
    width: 90%;
    height: 17rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}


.process_icon_div {
    width: 90%;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    flex-wrap: wrap;

}

.process_icon_one {
    position: absolute;
    float: left;
    background-color: D9D9D9;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.process_middle_div {
    /*width: 90%;
    */height: 12rem;
    background-color: 181818;
    color: white;
    float: right;
    border-radius: 35px;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    */
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.process_middle_p {
    width: 8rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: 1rem;

}


.process_p_div {
    display: flex;
    float: right;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    
    height: 12rem;
    
}
.process_second_sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.process_sec_sub{

    display: flex;
}
.process_title_img{

    display:flex; 
    justify-content:center; 
    align-items:center; 
    height:12rem; 
    width:12rem
}
.process_title_img img{
    width:6rem ;
    height: auto
}
.process_middle_p img{
    width:3.5rem ;
    height: auto
}











@media (min-width: 300px) and (max-width: 420px) {
    /* .process-legend {
        font-size: 1.8rem;
        height:3rem;
    } */
    .process-multi-div{
        height: 55rem;
    }
    .process_icon_div{
        height: 50rem;
        justify-content: center;
    }
    .process_icon_one{
        top:0;
        height: 8rem;
        width:8rem; 
    }
    .process_title_img{

        height:8rem; 
        width:8rem
    }
    .process_title_img img{
        width:3.5rem ;
        height: auto
    }
    .process_middle_div{
        height: 45rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .process_p_div{
        padding-top: 5rem;
        height: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .process_sec_sub{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .process_middle_p{
        height:8rem;
        margin-right: 0rem;
        
    }
}

@media (min-width: 420px) and (max-width: 690px) {
    /* .process-legend {
        font-size: 1.8rem;
        height:3rem;
    } */
    .process-multi-div{
        height: 35rem;
    }
    .process_icon_div{
        height: 33rem;
        justify-content: center;
    }
    .process_icon_one{
        top:0;
        height: 8rem;
        width:8rem; 
    }
    .process_title_img{

        height:8rem; 
        width:8rem
    }
    .process_title_img img{
        width:3.5rem ;
        height: auto
    }
    .process_middle_div{
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .process_p_div{
        padding-top: 5rem;
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .process_sec_sub{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .process_middle_p{
        height:10rem;
        margin-right: 0rem;
    }

}

@media (min-width: 690px) and (max-width: 800px) {
    /* .process-legend {
        font-size: 1.8rem;
        height:3rem;
    } */
    .process-multi-div{
        height: 30rem;
    }
    .process_icon_div{
        height: 26rem;
    }
    .process_icon_one{
        top:0;
        left:0;
    }
    .process_middle_div{
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .process_p_div{
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 7rem;
    }
    .process_sec_sub{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 1rem;
    }
    .process_middle_p{
        height:10rem;
        margin-right: 0rem;
    }
}

@media (min-width: 800px) and (max-width: 975px) {

    /* .process-legend {
        font-size: 1.8rem;
        height:3rem;
    } */
    .process-multi-div{
        height: 30rem;
    }
    .process_icon_div{
        height: 26rem;
    }
    .process_icon_one{
        top:0;
        left:0;
    }
    .process_middle_div{
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .process_p_div{
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
    }
    .process_sec_sub{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 3rem;
    }
    .process_middle_p{
        height:10rem;
        margin-right: 0rem;
    }

}

@media (min-width: 975px) and (max-width: 1040px) {


    /* .process-legend {
        font-size: 1.8rem;
        height:3rem;
    } */
    .process-multi-div{
        height: 30rem;
    }
    .process_icon_div{
        height: 26rem;
    }
    .process_icon_one{
        top:0;
        left:0;
    }
    .process_middle_div{
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .process_p_div{
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
    }
    .process_sec_sub{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 3rem;
    }
    .process_middle_p{
        height:10rem;
        margin-right: 0rem;
    }
}

@media (min-width: 1300px) and (max-width: 1500px) {

    .process_middle_p{
        width: 8rem;
    }











    .process-multi-div{
        width: 60rem;
    
    }















}
@media (min-width: 1500px) and (max-width: 2000px) {

    .process_middle_p{
        width: 8rem;
    }











    .process-multi-div{
        width: 60rem;
    
    }

}